extends layout

block content
  div.form-all
    if errors
      each error in errors
        div.error
          ul
            li= error 
    div.form
      form(method="POST" action="/addForm")
        div.form-group
          label(for='name') Nafn
          input#name.form-control(type='text', placeholder='' name='name')
        div.form-group
          label(for='email') Email
          input#email.form-control(type='email', placeholder='' name='email')
        div.form-group
          label(for='ssn') Kennitala
          input#ssn.form-control(type='text', placeholder='' name='ssn')
        div.form-group
          label(for='count') Fjöldi
          input#fjoldi.form-control(type='number', placeholder='' name='count')
        button(type='submit') Senda
    