doctype
html(lang="is")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles.css")
    title=title

  body

    block content
    div.footer
      if user
        div.footer-text
          p Innskráður notandi: #{user.name}
        div.footer-text  
          a(href="/") Forsíða
        div.footer-text
          a(href="admin") Stjórnsíða
        div.footer-text
          a(href="logout") Útskráning
      else
        div.footer-text
          a(href="/") Forsíða
        div.footer-text
          a(href="login") Innskráning
    

